.Panel5-top,
.Panel5-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3vw;
  overflow: hidden;
  flex-wrap: wrap;
}

.Panel5-image {
  display: block;
  max-width: 100%;
}
.Panel5-imageContainer {
  flex: 1;
  min-width: 8vw;
  margin: 1vw;
}